In [10]:
import pandas as pd
df=pd.read_csv("athlete_events.csv")

In [11]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [12]:
ejercicio_1 = df.shape

In [13]:
ejercicio_1

(271116, 15)

In [14]:
df["Games"].unique()

array(['1992 Summer', '2012 Summer', '1920 Summer', '1900 Summer',
       '1988 Winter', '1992 Winter', '1994 Winter', '1932 Summer',
       '2002 Winter', '1952 Summer', '1980 Winter', '2000 Summer',
       '1996 Summer', '1912 Summer', '1924 Summer', '2014 Winter',
       '1948 Summer', '1998 Winter', '2006 Winter', '2008 Summer',
       '2016 Summer', '2004 Summer', '1960 Winter', '1964 Winter',
       '1984 Winter', '1984 Summer', '1968 Summer', '1972 Summer',
       '1988 Summer', '1936 Summer', '1952 Winter', '1956 Winter',
       '1956 Summer', '1960 Summer', '1928 Summer', '1976 Summer',
       '1980 Summer', '1964 Summer', '2010 Winter', '1968 Winter',
       '1906 Summer', '1972 Winter', '1976 Winter', '1924 Winter',
       '1904 Summer', '1928 Winter', '1908 Summer', '1948 Winter',
       '1932 Winter', '1936 Winter', '1896 Summer'], dtype=object)

In [15]:
len(df["Games"].unique())

51

In [16]:
df["Season"].value_counts()

Summer    222552
Winter     48564
Name: Season, dtype: int64

In [17]:
df_summer = df[df["Season"] == "Summer"]
df_winter = df[df["Season"] == "Winter"]

In [49]:
df_summer["Name"]

0                                   A Dijiang
1                                    A Lamusi
2                         Gunnar Nielsen Aaby
3                        Edgar Lindenau Aabye
26         Cornelia "Cor" Aalten (-Strannood)
27         Cornelia "Cor" Aalten (-Strannood)
29             Einar Ferdinand "Einari" Aalto
31                          Jyri Tapani Aalto
32                         Minna Maarit Aalto
33                         Minna Maarit Aalto
35                       Arvo Ossian Aaltonen
36                       Arvo Ossian Aaltonen
37                       Arvo Ossian Aaltonen
38                       Arvo Ossian Aaltonen
39                       Arvo Ossian Aaltonen
41                    Paavo Johannes Aaltonen
42                    Paavo Johannes Aaltonen
43                    Paavo Johannes Aaltonen
44                    Paavo Johannes Aaltonen
45                    Paavo Johannes Aaltonen
46                    Paavo Johannes Aaltonen
47                    Paavo Johannes Aaltonen
48                    Paavo Johannes Aaltonen
49                    Paavo Johannes Aaltonen
50                    Paavo Johannes Aaltonen
51                    Paavo Johannes Aaltonen
52                    Paavo Johannes Aaltonen
53                    Paavo Johannes Aaltonen
54                    Paavo Johannes Aaltonen
55                    Paavo Johannes Aaltonen
                         ...
271054          Viktoriya Viktorovna Zyabkina
271055          Viktoriya Viktorovna Zyabkina
271056                 Yury Ivanovich Zyabrev
271075        Jan (Johann-) Zybert (Siebert-)
271076    Galina Ivanovna Zybina (-Fyodorova)
271077    Galina Ivanovna Zybina (-Fyodorova)
271078    Galina Ivanovna Zybina (-Fyodorova)
271079    Galina Ivanovna Zybina (-Fyodorova)
271080    Galina Ivanovna Zybina (-Fyodorova)
271081                           Bogusaw Zych
271082                           Bogusaw Zych
271083                           Bogusaw Zych
271084                           Bogusaw Zych
271085                           Bogusaw Zych
271087             Bogusaw Stanisaw Zychowicz
271088             Bogusaw Stanisaw Zychowicz
271089                           Dominik ycki
271090                           Dominik ycki
271091                     ukasz Tomasz ygado
271099                      Stavroula Zygouri
271100                          Frantiek Zyka
271101                             Milan Zyka
271102              Olesya Nikolayevna Zykina
271103              Olesya Nikolayevna Zykina
271105               Fernando scar Zylberberg
271106               Fernando scar Zylberberg
271107             James Francis "Jim" Zylker
271108           Aleksandr Viktorovich Zyuzin
271109           Aleksandr Viktorovich Zyuzin
271110                 Olga Igorevna Zyuzkova
Name: Name, Length: 222552, dtype: object

In [50]:
df[df["Season"] == "Summer"]["Year"].min()

1896

In [51]:
df.groupby(["Team"])["Name"].agg(len).sort_values(ascending= False).iloc[:10]

Team
United States    17847
France           11988
Great Britain    11404
Italy            10260
Germany           9326
Canada            9279
Japan             8289
Sweden            8052
Australia         7513
Hungary           6547
Name: Name, dtype: int64

In [52]:
df[df["Team"] == "Argentina"]["Medal"].value_counts()

Gold      91
Bronze    91
Silver    84
Name: Medal, dtype: int64

In [53]:
df["Year"] == df[df["Season"] == "Summer"]["Year"].min()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
271086    False
271087    False
271088    False
271089    False
271090    False
271091    False
271092    False
271093    False
271094    False
271095    False
271096    False
271097    False
271098    False
271099    False
271100    False
271101    False
271102    False
271103    False
271104    False
271105    False
271106    False
271107    False
271108    False
271109    False
271110    False
271111    False
271112    False
271113    False
271114    False
271115    False
Name: Year, Length: 271116, dtype: bool